# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# editor and IDE paraphernalia
.idea
*.swp
*.swo
*~

# python stuff
__pycache__/
*.py[codz]
*$py.class

# Pulumi stacks
Pulumi.*.yaml

# Pulumi sdks
sdks/*

# uv and pulumi "caches"
.venv
.ruff_cache
