# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# editor and IDE paraphernalia
.idea
*.swp
*.swo
*~

# python stuff
__pycache__/
*.py[codz]
*$py.class

# Pulumi stacks
Pulumi.*.yaml
.pulumi

# Pulumi sdks
sdks/*

# uv and pulumi "caches"
.venv
.ruff_cache

# Generated stuff
ssh_*
